<div class="wrapper fadeInDown">
  <div id="formContent">
  <input type="text" id="nom" (input)="verification()"  [(ngModel)]="user.Email" class="fadeIn first" placeholder="Votre email">
  <input type="text" id="nom" (input)="verification()"  [(ngModel)]="secret" class="fadeIn first" placeholder="Votre phrase secret">
  <input type="text" id="nom" (input)="verification()"   [(ngModel)]="user.NewPassword" class="fadeIn first" placeholder="Votre nouveau de passe">
  <input  type="button" (click)="reset()"  class="fadeIn second" value="Valider">  
  <button (click)="reset()" >1555</button>
</div>

  <div class="alert alert-danger taille" *ngIf="btm">
    Champs obligatoire!
</div>
</div>