@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../../theme/themes.scss';

@include nb-install-component() {
  justify-content: space-between;
display: flex;
width: 100%;
  .logo-container {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  }

  nb-action {
    height: auto;
    display: flex;
    align-content: center;
  }

  nb-user {
    cursor: pointer;
  }

  ::ng-deep nb-search button {
    padding: 0!important;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: auto;

    .sidebar-toggle {
      @include nb-ltr(padding-right, 1.25rem);
      @include nb-rtl(padding-left, 1.25rem);
      text-decoration: none;
      color: nb-theme(text-hint-color);
      nb-icon {
        font-size: 1.75rem;
      }
    }

    .logo {
      padding: 0 1.25rem;
      font-size: 1.75rem;
      @include nb-ltr(border-left, 1px solid nb-theme(divider-color));
      @include nb-rtl(border-right, 1px solid nb-theme(divider-color));
      white-space: nowrap;
      text-decoration: none;
    }
  }

  @include media-breakpoint-down(sm) {
    .control-item {
      display: none;
    }
    .user-action {
      border: none;
      padding: 0;
    }
  }

  @include media-breakpoint-down(is) {
    nb-select {
      display: none;
    }
  }
}

.photo
{
    width: 150px;
    height: 150px;
    border-radius: 250px;
    overflow: hidden;

}

.border
{
    border: 4px solid seagreen;
    border-radius: 100px;
    width: fit-content;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    margin: 0 auto;
    margin-top: -80px;
}
.borderwhite
{
    border: 4px solid rgb(228, 240, 233);
    border-radius: 100px;
    width: fit-content;
    display: flex;

}

.input{
  position: absolute;
  margin-top: 3px;
  margin-left: 3px;
  height: 1px;
  width: 1px;
  z-index: -5;
}
